*{
    box-sizing: border-box;
    text-align: center;
}

body {
    width: 960px;
    font-family: Arial, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: #777;
    margin: auto;
}

header {
    color: #777;
    background-color: #ebebeb;  
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

nav {
    color: #777;
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding: 20px;
}

section {
    color: #777;
    width: 495px;
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding: 20px;
    width: 60%;
    float: left;
}

#big-box{ 
    color: #777;
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding: 20px;
}

article {
    color: #ebebeb;
    background-color: #777;
    margin:20px;
    padding: 20px;

}

#the-3-h { 
    color: #777;
    background-color: #ebebeb;
    margin-top: 20px;
    margin: 20px;
    padding: 20px;
}


#little-p {
    color: #777;
    background-color: #ebebeb;
    margin: 20px;
    padding: 20px;
}

aside {
    color: #777;
    background-color: #ebebeb;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 35px;
    width: 340px;
    height: 345px;
    float: left;
}

footer {
    clear: both;
    color: #777;
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding: 20px;
}


